# Виртуальное окружение
.venv/
venv/
env/

# Артефакты сборки
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Переменные окружения
.env

# Логи и временные файлы
logs/
tmp/
